@using ir.ankasoft.bazyaftsazeh.ERP.FrontEndMVC.Models.PostalAddress
@model ViewModelCreateModifyPostalAddress

@Html.HiddenFor(model => model.recId)
@Html.HiddenFor(model => model.ParentId)
@Html.HiddenFor(model => model.IsPrimary)

<div class="form-group">
    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control select2" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ProvinceCity, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.ProvinceCity, Model.ProvinceCityList, new { @class = "form-control select2" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>