
@model PagerModel<ir.ankasoft.bazyaftsazeh.ERP.FrontEndMVC.Models.Organization.ViewModelOrganizationDisplay>

<table class="table anka_dataTable table-striped table-bordered">
    @{
        var modelHeader = Model.Data.FirstOrDefault();
        var defaultClass = "";
        <thead>
            @Html.Hidden("sortBy", Model.PageData.filterDataSource.sortBy)
            @Html.Hidden("sortType", Model.PageData.filterDataSource.sortType)
            <tr class="context-menu-header">
                <th>
                    @Html.LabelFor(modelItem => modelHeader.NationalCode)
                </th>
                <th>
                    <a href="#" data-column="@nameof(modelHeader.Title)">
                        @Html.LabelFor(modelItem => modelHeader.Title)
                    </a>
                    <span class="pull-right">
                        @{
                            defaultClass = "fa-sort";
                            if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.Title))
                            {
                                defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                            }
                        }
                        <i class="fa @defaultClass" aria-hidden="true"></i>
                    </span>
                </th>
                <th>
                    <a href="#" data-column="@nameof(modelHeader.RegisterationNumber)">
                        @Html.LabelFor(modelItem => modelHeader.RegisterationNumber)
                    </a>
                    <span class="pull-right">
                        @{
                            defaultClass = "fa-sort";
                            if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.RegisterationNumber))
                            {
                                defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                            }
                        }
                        <i class="fa @defaultClass" aria-hidden="true"></i>
                    </span>
                </th>
                <th>
                    <a href="#" data-column="@nameof(modelHeader.RegisterationPlace)">
                        @Html.LabelFor(modelItem => modelHeader.RegisterationPlace)
                    </a>
                    <span class="pull-right">
                        @{
                            defaultClass = "fa-sort";
                            if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.RegisterationPlace))
                            {
                                defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                            }
                        }
                        <i class="fa @defaultClass" aria-hidden="true"></i>
                    </span>
                </th>
                <th>
                    <a href="#" data-column="@nameof(modelHeader.CommercialNumber)">
                        @Html.LabelFor(modelItem => modelHeader.CommercialNumber)
                    </a>
                    <span class="pull-right">
                        @{
                            defaultClass = "fa-sort";
                            if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.CommercialNumber))
                            {
                                defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                            }
                        }
                        <i class="fa @defaultClass" aria-hidden="true"></i>
                    </span>
                </th>
                <th>
                    @Html.LabelFor(modelItem => modelHeader.Telephone)
                </th>
                <th>
                    @Html.LabelFor(modelItem => modelHeader.Mobile)
                </th>
            </tr>
        </thead>
                            if (Model.Data.Any())
                            {
                                <tbody>
                                    @foreach (var item in Model.Data)
                {
                                        <tr data-itemid='@item.recId' class="context-menu">
                                            <td class="col-md-2 text-right">@Html.DisplayFor(modelItem => item.NationalCode)</td>
                                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.Title)</td>
                                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.RegisterationNumber)</td>
                                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.RegisterationPlace)</td>
                                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.CommercialNumber)</td>
                                            <td class="col-md-1 text-right">@Html.DisplayFor(modelItem => item.Telephone)</td>
                                            <td class="col-md-1 text-right">@Html.DisplayFor(modelItem => item.Mobile)</td>
                                        </tr>
                                    }
                                </tbody>
                            }
    }
</table>

@Html.Partial(MVC.Shared.Views._Pager, Model.PageData)