
@using ir.ankasoft.bazyaftsazeh.ERP.FrontEndMVC.Models.DocumentImperfection
@model List<ViewModelDisplayDocumentImperfection>
@*Communication*@
@{
    ViewModelDisplayDocumentImperfection schema = Model.FirstOrDefault();
}
@{
    if (Model.Any())
    {
        <thead>
            <tr>
                <th class="hidden"></th>
                <th class="col-md-1">@Html.LabelFor(model => schema.Title)</th>
                <th class="col-md-1">@Html.LabelFor(model => schema.ValueDisplayMode)</th>
                <th class="col-md-10"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Select((value, i) => new { i, value }))
            {
                <tr>
                    <td class="hidden">@Html.HiddenFor(model => Model[@item.i].recId)</td>
                    <td class="col-md-1">@Html.EnumDropDownListFor(model => Model[@item.i].Title, new { @class = "select2" })</td>
                    <td class="col-md-1">@Html.EditorFor(model => Model[@item.i].ValueDisplayMode, new { htmlAttributes = new { @class = "form-control text-right" } })</td>
                    <td class="col-md-10"></td>
                </tr>
            }
        </tbody>
    }
}