@model PagerModel<ir.ankasoft.bazyaftsazeh.ERP.FrontEndMVC.Models.Party.ViewModelPartyDisplay>

<table class="table anka_dataTable table-striped table-bordered">
    @{
        var modelHeader = Model.Data.FirstOrDefault();
        var defaultClass = "";
        <thead>
            @Html.Hidden("sortBy", Model.PageData.filterDataSource.sortBy)
            @Html.Hidden("sortType", Model.PageData.filterDataSource.sortType)
            <tr class="context-menu-header">
                <th>
                    <a href="#" data-column="@nameof(modelHeader.NationalCode)">
                    @Html.LabelFor(modelItem => modelHeader.NationalCode)
                </a>
                <span class="pull-right">
                    @{
                        defaultClass = "fa-sort";
                        if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.NationalCode))
                        {
                            defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                        }
                    }
                    <i class="fa @defaultClass" aria-hidden="true"></i>
                </span>
            </th>
            <th>
                <a href="#" data-column="@nameof(modelHeader.Title)">
                    @Html.LabelFor(modelItem => modelHeader.Title)
                </a>
                <span class="pull-right">
                    @{
                        defaultClass = "fa-sort";
                        if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.Title))
                        {
                            defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                        }
                    }
                    <i class="fa @defaultClass" aria-hidden="true"></i>
                </span>
            </th>
            <th>
                @*<a href="#" data-column="@nameof(modelHeader.Roles)">*@
                    @Html.LabelFor(modelItem => modelHeader.Roles)
                @*</a>
                <span class="pull-right">
                    @{
                        defaultClass = "fa-sort";
                        if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.Roles))
                        {
                            defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                        }
                    }
                    <i class="fa @defaultClass" aria-hidden="true"></i>
                </span>*@
            </th>
            <th>
                @*<a href="#" data-column="@nameof(modelHeader.Telephone)">*@
                    @Html.LabelFor(modelItem => modelHeader.Telephone)
                @*</a>
                <span class="pull-right">
                    @{
                        defaultClass = "fa-sort";
                        if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.Telephone))
                        {
                            defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                        }
                    }
                    <i class="fa @defaultClass" aria-hidden="true"></i>
                </span>*@
            </th>
            <th>
                @*<a href="#" data-column="@nameof(modelHeader.Mobile)">*@
                    @Html.LabelFor(modelItem => modelHeader.Mobile)
                @*</a>
                <span class="pull-right">
                    @{
                        defaultClass = "fa-sort";
                        if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.Mobile))
                        {
                            defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                        }
                    }
                    <i class="fa @defaultClass" aria-hidden="true"></i>
                </span>*@
            </th>
            <th></th>
        </tr>
    </thead>
        if (Model.Data.Any())
        {
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr data-itemid='@item.recId' class="context-menu">
                        <td class="col-md-2 text-right">@Html.DisplayFor(modelItem => item.NationalCode)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => item.Title)</td>
                        <td class="col-md-2"></td>
                        <td class="col-md-1 text-right">@Html.DisplayFor(modelItem => item.Telephone)</td>
                        <td class="col-md-1 text-right">@Html.DisplayFor(modelItem => item.Mobile)</td>
                        <td class="col-md-4"></td>
                    </tr>
                }
            </tbody>
            @*<tfoot>
                    <tr>

                        <td class="col-md-2">@Html.Editor(Model.filter.NationalCode)</td>
                            <td class="col-md-2">@Html.Editor(Model.filter.Title)</td>
                            <td class="col-md-2"></td>
                            <td class="col-md-1"></td>
                            <td class="col-md-1"></td>
                            <td class="col-md-4"></td>
                    </tr>
                </tfoot>*@
        }
    }
</table>

@Html.Partial(MVC.Shared.Views._Pager, Model.PageData)