@using ir.ankasoft.bazyaftsazeh.ERP.FrontEndMVC.Models.Party
@using ir.ankasoft.bazyaftsazeh.ERP.FrontEndMVC.Models.PostalAddress
@using ir.ankasoft.entities.Enums;
@model ViewModelPartyCommunication

<div class="content-heading">
    @Resource.CounterParty
    <small>
        @Html.AnkaResource(model => model.PersonalTitle) @Model.Title - @Model.NationalCode#
    </small>
</div>

<div class="row">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">@Resource.EditPostalAddress</div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.recId)
                    <div class="clearfix">
                        <div class="pull-right">
                            <a class="btn btn-labeled btn-success" href="@Url.Action(MVC.PostalAddress.CreatePostalAddress(Model.recId, PartyObjective.Party))">
                                <span class="btn btn-label">
                                    <i class="fa fa-plus"></i>
                                </span>@Resource.Add
                            </a>
                        </div>
                    </div>
                    <div class="communications">
                        @Html.HiddenFor(model => Model.recId)
                        <table class="table anka_dataTable table-striped table-bordered">
                            @if (Model.PostalAddressCollection.Any())
                            {
                                ViewModelPostalAddress schema = Model.PostalAddressCollection.FirstOrDefault();
                                <thead>
                                    <tr>
                                        <td class="hidden"></td>
                                        <td class="col-md-2">@Html.LabelFor(model => schema.Postal_Type)</td>
                                        <td class="col-md-1">@Html.LabelFor(model => schema.Postal_IsPrimary)</td>
                                        <td class="col-md-3">@Html.LabelFor(model => schema.ProvinceCity)</td>
                                        <td class="col-md-4">@Html.LabelFor(model => schema.Postal_Value)</td>
                                        <td class="col-md-1">@Html.LabelFor(model => schema.PostalCode)</td>
                                        <td class="col-md-1"></td>
                                    </tr>
                                </thead>
                                    <tbody>
                                        @foreach (var item in Model.PostalAddressCollection)
                                        {
                                            <tr>
                                                <td class="hidden">
                                                    @Html.HiddenFor(model => item.Postal_recId)
                                                    @Html.HiddenFor(model => item.Postal_ParentId)
                                                </td>
                                                <td class="col-md-2">@Html.AnkaResource(model => item.Postal_Type)</td>
                                                <td class="col-md-1">@Html.DisplayFor(model => item.Postal_IsPrimary)</td>
                                                <td class="col-md-3">@Html.DisplayFor(model => item.Province) - @Html.DisplayFor(model => item.City)</td>
                                                <td class="col-md-4">@Html.DisplayFor(model => item.Postal_Value, new { htmlAttributes = new { @class = "text-right" } })</td>
                                                <td class="col-md-1">@Html.DisplayFor(model => item.PostalCode, new { htmlAttributes = new { @class = "text-right" } })</td>
                                                <td class="col-md-1 text-center">
                                                    <div class="btn-group mb-sm">
                                                        <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-default">
                                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                        </button>
                                                        <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                                            <li>
                                                                <a href="@Url.Action(MVC.PostalAddress.ModifyPostalAddress(item.Postal_ParentId, item.Postal_recId, PartyObjective.Party))"><i class="fa fa-edit" aria-hidden="true"></i> @Resource.Edit</a>
                                                            </li>
                                                            <li>
                                                                <a href="@Url.Action(MVC.PostalAddress.ChangePrimary(item.Postal_recId, item.Postal_ParentId, !item.Postal_IsPrimary))">
                                                                    <i class="fa @(item.Postal_IsPrimary ? "fa-square-o" : "fa-check-square-o")" aria-hidden="true"></i> @(item.Postal_IsPrimary ? @Resource.UnSetPrimary : @Resource.SetAsPrimary)
                                                                </a>
                                                            </li>
                                                            <li>
                                                                @*<a href="@Url.Action(MVC.Party.RemoveCommunication(item.recId, item.ParentId))">
                                                                        <i class="fa fa-remove" aria-hidden="true"></i> @Resource.Remove
                                                                    </a>*@
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="clearfix">
                    <div class="pull-right">
                        @Html.ActionLink(Resource.Return, null, null, null, new { href = Url.Action(MVC.Party.Index()), @class = "btn btn-warning" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render(Bundles.Scripts.sweetAlert)
}