@using ir.ankasoft.bazyaftsazeh.ERP.FrontEndMVC.Models.DocumentCost
@model ViewModelCreateAndModifyDocumentCost

<div class="content-heading">
    @Resource.Document
    <small>
        @*@Html.AnkaResource(model => model.PersonalTitle) @Model.Title - @Model.NationalCode#*@
    </small>
</div>

<div class="row">
    <div class="col-lg-9">
        @using (Html.BeginForm(MVC.DocumentCost.CreateDocumentCost(), FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">@Resource.Edit</div>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        @Html.Partial(MVC.DocumentCost.Views._Detail, Model)
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="clearfix">
                        <div class="pull-right">
                            <button class="btn btn-primary" type="submit">@Resource.Create</button>
                            @Html.ActionLink(Resource.Cancel, null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-warning" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>