@model  ir.ankasoft.bazyaftsazeh.ERP.FrontEndMVC.Models.Account.ForgotPasswordViewModel
@{
    Layout = MVC.Shared.Views._LayoutPage;
}
<div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="~/Content/Images/logo.png" alt="Image" class="block-center img-rounded" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">بازیابی رمز عبور</p>
            @using (Html.BeginForm(MVC.Account.ForgotPassword(), FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger text-left" })
                <p class="text-center">لطفا پست الکترونیکی  که با آن ثبت نام نموده بودید را جهت بازیابی رمز عبور خود وارد نمایید</p>
                <div class="form-group has-feedback">
                    <label for="resetInputEmail1" class="text-muted">@Resource.Email</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = Resource.EnterYourEmail, autocomplete = "off" } })
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <button type="submit" class="btn btn-danger btn-block"> @Resource.Recover</button>
            }
        </div>
    </div>
    <!-- END panel-->
</div>