@model ir.ankasoft.bazyaftsazeh.ERP.FrontEndMVC.Models.Account.ResetPasswordViewModel
@{
    Layout = MVC.Shared.Views._LayoutPage;
}

<div class="block-center mt-xl wd-xl">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="#">
                    <img src="~/Content/Images/logo.png" alt="Image" class="block-center img-rounded" />
                </a>
            </div>
            <div class="panel-body">
                <div class="form-group has-feedback">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 text-muted" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger" })
                    </div>
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 text-muted" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, string.Empty, new { @class = "text-danger" })
                    </div>
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2 text-muted" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, string.Empty, new { @class = "text-danger" })
                    </div>
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>

                <button type="submit" class="btn btn-block btn-primary mt-lg">@Resource.Reset</button>
            </div>
        </div>
    }
</div>