@model ir.ankasoft.bazyaftsazeh.ERP.FrontEndMVC.Models.Account.VerifyCodeViewModel
@{
    Layout = MVC.Shared.Views._LayoutPage;
}
<div class="block-center mt-xl wd-xl">
    @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("provider", @Model.Provider)
        @Html.Hidden("rememberMe", @Model.RememberBrowser)

        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                @*<a href="#">
                        <img src="~/Content/Images/logo.png" alt="Image" class="block-center img-rounded" />
                    </a>*@
                @*@Resource.SendVerificationCode*@
                Enter verification code
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberBrowser)
                                @Html.LabelFor(m => m.RememberBrowser)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Submit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>