@model PagerModel<ir.ankasoft.bazyaftsazeh.ERP.FrontEndMVC.Models.Document.ViewModelDisplayDocument>

<table class="table anka_dataTable table-striped table-bordered">
    @{
        var modelHeader = Model.Data.FirstOrDefault();
        var defaultClass = "";
        <thead>
            @Html.Hidden("sortBy", Model.PageData.filterDataSource.sortBy)
            @Html.Hidden("sortType", Model.PageData.filterDataSource.sortType)
            <tr class="context-menu-header">
                <th>
                    <a href="#" data-column="@nameof(modelHeader.LastOwner)">
                        @Html.LabelFor(modelItem => modelHeader.LastOwner)
                    </a>
                    <span class="pull-right">
                        @{
                            defaultClass = "fa-sort";
                            if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.LastOwner))
                            {
                                defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                            }
                        }
                        <i class="fa @defaultClass" aria-hidden="true"></i>
                    </span>
                </th>
                <th>
                    <a href="#" data-column="@nameof(modelHeader.PlateOwner)">
                        @Html.LabelFor(modelItem => modelHeader.PlateOwner)
                    </a>
                    <span class="pull-right">
                        @{
                            defaultClass = "fa-sort";
                            if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.PlateOwner))
                            {
                                defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                            }
                        }
                        <i class="fa @defaultClass" aria-hidden="true"></i>
                    </span>
                </th>
                <th>
                    <a href="#" data-column="@nameof(modelHeader.PlanType)">
                        @Html.LabelFor(modelItem => modelHeader.PlanType)
                    </a>
                    <span class="pull-right">
                        @{
                            defaultClass = "fa-sort";
                            if (Model.PageData.filterDataSource.sortBy == nameof(modelHeader.PlanType))
                            {
                                defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
                            }
                        }
                        <i class="fa @defaultClass" aria-hidden="true"></i>
                    </span>
                </th>
                <th>
                    @Html.LabelFor(modelItem => modelHeader.Vehicle)
                </th>
                <th>
                    @Html.LabelFor(modelItem => modelHeader.PlateNumber)
                </th>
                <th>
                    @Html.LabelFor(modelItem => modelHeader.TotalCostValue)
                </th>
                <th>
                    @Resource.ImperfectionPriceSum
                </th>
                <th>
                    @Resource.PaymentsTotalPrice
                </th>
                <th>
                    @Resource.Status
                    @*<a href="#" data-column="DocumentStatusCollection.Status.Operation.Title">
        @Html.LabelFor(modelItem => modelHeader.Status)
    </a>
    <span class="pull-right">
        @{
            defaultClass = "fa-sort";
            if (Model.PageData.filterDataSource.sortBy == "DocumentStatusCollection.Status.Operation.Title")//nameof(modelHeader.Status))
            {
                defaultClass = Model.PageData.filterDataSource.sortType == 1 ? "fa-sort-amount-asc" : "fa-sort-amount-desc";
            }
        }
        <i class="fa @defaultClass" aria-hidden="true"></i>
    </span>*@
                </th>
            </tr>
        </thead>
                            if (Model.Data.Any())
                            {
                                <tbody>
                                    @foreach (var item in Model.Data)
                                    {
                                        <tr data-itemid='@item.recId' class="context-menu" > @*data-nextstep='@item.OperativeFormURL'*@
                                            <td class="col-md-2"><a href="@Url.Action(MVC.Party.Display(item.LastOwnerRecId))">@Html.DisplayFor(modelItem => item.LastOwner)</a></td>
                                            <td class="col-md-2"><a href="@Url.Action(MVC.Party.Display(item.PlateOwnerRecId))">@Html.DisplayFor(modelItem => item.PlateOwner)</a></td>
                                            <td class="col-md-1">@Html.AnkaResource(modelItem => item.PlanType)</td>
                                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.Vehicle)</td>
                                            <td class="col-md-1 text-right">@Html.DisplayFor(modelItem => item.PlateNumber)</td>
                                            <td class="col-md-1 text-right"><a href="@Url.Action(MVC.Document.CostList(item.recId))"> @Html.DisplayFor(modelItem => item.TotalCostValueDisplayMode) @ir.ankasoft.tools.DefaultValues.DefaultCurrency</a></td>
                                            <td class="col-md-1 text-right"><a href="@Url.Action(MVC.Document.ImperfectionList(item.recId))"> @Html.DisplayFor(modelItem => item.ImperfectionPriceSumDisplayMode) @ir.ankasoft.tools.DefaultValues.DefaultCurrency</a></td>
                                            <td class="col-md-1 text-right"><a href="@Url.Action(MVC.Document.PaymentsList(item.recId))"> @Html.DisplayFor(modelItem => item.PaymentsTotalPriceDisplayMode) @ir.ankasoft.tools.DefaultValues.DefaultCurrency</a></td>
                                            <td class="col-md-1">@Html.DisplayFor(modelItem => item.Status)</td>
                                        </tr>
                                    }
                                </tbody>
                                @*<tfoot>
                                        <tr>

                                            <td class="col-md-2">@Html.Editor(Model.filter.NationalCode)</td>
                                                <td class="col-md-2">@Html.Editor(Model.filter.Title)</td>
                                                <td class="col-md-2"></td>
                                                <td class="col-md-1"></td>
                                                <td class="col-md-1"></td>
                                                <td class="col-md-4"></td>
                                        </tr>
                                    </tfoot>*@
                            }
    }
</table>

@Html.Partial(MVC.Shared.Views._Pager, Model.PageData)