@model PagerData
<div class="">
    <div class="col-xs-6">
        <div id="anka_dataTable_info" class="dataTables_info" role="status" aria-live="polite">
            @{
                var minItem = (Model.CurrentPage - 1) * Model.PageSize;
                minItem = minItem < 1 ? 1 : minItem;
                var MaxItem = (Model.CurrentPage * Model.PageSize);
                MaxItem = MaxItem > Model.CurrentPage ? Convert.ToInt32(Model.TotalRows) : MaxItem;
            }

            @Resource.Showing @minItem @Resource.to @MaxItem @Resource.of @Model.TotalRows @Resource.entries
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <div id="anka_dataTable_paginate" class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                @{ string isDisabled;
                    isDisabled = Model.CurrentPage == 1 ? "disabled" : "";}
                <li id="anka_dataTable_previous" class="paginate_button previous @isDisabled" aria-controls="anka_dataTable" tabindex="0">
                    <a href="#" onclick="managePagination('-');return false;">@Resource.Previous</a>
                </li>
                @{
                    int SP = 0, EP = 0;
                    SP = Model.CurrentPage - 3; EP = Model.CurrentPage + 3;
                    if (Model.PageCount < 7) { SP = 1; EP = Model.PageCount; }
                    else
                    {
                        if (EP > Model.PageCount) { SP = SP - (EP - Model.PageCount); EP = Model.PageCount; }
                        if (SP < 1) { EP = 1 - SP + EP; SP = 1; }
                    }
                    for (long i = SP; i <= EP; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <li class="paginate_button active" aria-controls="anka_dataTable" tabindex="0">
                                <a href="#">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="paginate_button" aria-controls="anka_dataTable" tabindex="0">
                                <a href="#" onclick="managePagination(@i);return false;">@i</a>
                            </li>
                        }
                    }
                }
                @{ isDisabled = Model.CurrentPage == Model.PageCount ? "disabled" : "";}
                <li id="anka_dataTable_next" class="paginate_button next @isDisabled" aria-controls="anka_dataTable" tabindex="0">
                    <a href="#" onclick="managePagination('+'); return false;">@Resource.Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>